# Prep

In [ ]:
# Prep set

In [22]:
import pandas as pd
import ast

In [31]:
data="data_half_month"
with open(data, 'r') as r:
    res=pd.DataFrame()
    for x in r:
        # json module doesn't work here - not valid JSON provided
        line=pd.DataFrame([ast.literal_eval(x)])
        res=res.append(line)

In [36]:
res.count()

business     12763
cool         12763
date         12763
funny        12763
review_id    12763
stars        12763
text         12763
useful       12763
user_id      12763
dtype: int64

In [33]:
res.groupby('cool').count()

      business  date  funny  review_id  stars  text  useful  user_id
cool
0         8391  8391   8391       8391   8391  8391    8391     8391
1         2633  2633   2633       2633   2633  2633    2633     2633
2          846   846    846        846    846   846     846      846
3          383   383    383        383    383   383     383      383
4          183   183    183        183    183   183     183      183
5          100   100    100        100    100   100     100      100
6           63    63     63         63     63    63      63       63
7           45    45     45         45     45    45      45       45
8           35    35     35         35     35    35      35       35
9           24    24     24         24     24    24      24       24
10          14    14     14         14     14    14      14       14
11          10    10     10         10     10    10      10       10
12          15    15     15         15     15    15      15       15
13           4     4      4          4      4     4       4        4
14           6     6      6          6      6     6       6        6
15           6     6      6          6      6     6       6        6
16           1     1      1          1      1     1       1        1
17           3     3      3          3      3     3       3        3
19           1     1      1          1      1     1       1        1

In [34]:
res.groupby('useful').count()

        business  cool  date  funny  review_id  stars  text  user_id
useful
0           4292  4292  4292   4292       4292   4292  4292     4292
1           3377  3377  3377   3377       3377   3377  3377     3377
2           1902  1902  1902   1902       1902   1902  1902     1902
3           1102  1102  1102   1102       1102   1102  1102     1102
4            643   643   643    643        643    643   643      643
5            407   407   407    407        407    407   407      407
6            261   261   261    261        261    261   261      261
7            177   177   177    177        177    177   177      177
8            148   148   148    148        148    148   148      148
9            104   104   104    104        104    104   104      104
10            67    67    67     67         67     67    67       67
11            42    42    42     42         42     42    42       42
12            46    46    46     46         46     46    46       46
13            29    29    29     29         29     29    29       29
14            33    33    33     33         33     33    33       33
15            25    25    25     25         25     25    25       25
16            23    23    23     23         23     23    23       23
17            14    14    14     14         14     14    14       14
18            14    14    14     14         14     14    14       14
19             5     5     5      5          5      5     5        5
20             7     7     7      7          7      7     7        7
21             7     7     7      7          7      7     7        7
22             3     3     3      3          3      3     3        3
23             6     6     6      6          6      6     6        6
24             4     4     4      4          4      4     4        4
25             4     4     4      4          4      4     4        4
26             3     3     3      3          3      3     3        3
27             1     1     1      1          1      1     1        1
28             2     2     2      2          2      2     2        2
29             2     2     2      2          2      2     2        2
30             3     3     3      3          3      3     3        3
31             2     2     2      2          2      2     2        2
36             1     1     1      1          1      1     1        1
37             2     2     2      2          2      2     2        2
47             1     1     1      1          1      1     1        1
48             1     1     1      1          1      1     1        1
53             1     1     1      1          1      1     1        1
61             1     1     1      1          1      1     1        1
109            1     1     1      1          1      1     1        1

In [35]:
res.groupby('funny').count()

       business  cool  date  review_id  stars  text  useful  user_id
funny
0          8762  8762  8762       8762   8762  8762    8762     8762
1          2243  2243  2243       2243   2243  2243    2243     2243
2           792   792   792        792    792   792     792      792
3           348   348   348        348    348   348     348      348
4           194   194   194        194    194   194     194      194
5           118   118   118        118    118   118     118      118
6            88    88    88         88     88    88      88       88
7            48    48    48         48     48    48      48       48
8            44    44    44         44     44    44      44       44
9            21    21    21         21     21    21      21       21
10           32    32    32         32     32    32      32       32
11           15    15    15         15     15    15      15       15
12           11    11    11         11     11    11      11       11
13           11    11    11         11     11    11      11       11
14            7     7     7          7      7     7       7        7
15            5     5     5          5      5     5       5        5
16            4     4     4          4      4     4       4        4
17            2     2     2          2      2     2       2        2
18            2     2     2          2      2     2       2        2
19            2     2     2          2      2     2       2        2
20            3     3     3          3      3     3       3        3
22            3     3     3          3      3     3       3        3
23            1     1     1          1      1     1       1        1
24            1     1     1          1      1     1       1        1
25            1     1     1          1      1     1       1        1
31            1     1     1          1      1     1       1        1
45            1     1     1          1      1     1       1        1
50            1     1     1          1      1     1       1        1
83            1     1     1          1      1     1       1        1
86            1     1     1          1      1     1       1        1

In [41]:
useful_pos=res[res['useful']>0].sample(n=1000).copy()
useful_pos['classification']='useful'
useful_neg=res[res['useful']==0].sample(n=1000).copy()
useful_neg['classification']='not-useful'
useful_all=pd.concat([useful_pos, useful_neg])
useful_all=useful_all[['text', 'useful', 'classification']].reset_index(drop=True)
useful_all

                                                   text  useful classification
0     Oh goodness, I don't like writing reviews like...       5         useful
1     I have been to PF Changs many many times. This...       1         useful
2     After reading reviews about the not so private...       2         useful
3     I haven't been to the Hi-liter in years but ha...       3         useful
4     I was expecting a few shelves with paperbacks ...       6         useful
5     I live about 20 min away from Wah Sun and had ...       2         useful
6     When I first moved to OH, a gal at Michaels co...       1         useful
7     Came here to meet a friend for happy hour toda...       5         useful
8     I don't even know what to make of south americ...       8         useful
9     OK..... One good thing about Vegas is you can ...       2         useful
10    We decided to do a tour of the breweries in Ch...       2         useful
11    I came to Bouchon on a friends recommendation ...       1         useful
12    Way over priced!\n\nIt is a nice hotel, but no...       1         useful
13    ive eaten here and to-go, for both dinner and ...       1         useful
14    First time there 4/30/12\nI don't eat dogs oft...       1         useful
15    When I was in extreme pain Dr. Lubitz was the ...       1         useful
16    So, I'd like to preface this review by saying ...       1         useful
17    While I was enjoying Fried Pickles in the form...       6         useful
18    Chinese and Mexican anyone? Can't go wrong!\n\...       1         useful
19    Pretty nice little shop. They don't have every...       4         useful
20    Note in the window that they CLOSED as of 5pm ...       4         useful
21    There's way too much great stuff to say about ...       2         useful
22    Can I give six stars? \nHappy hour till 7\nGre...       5         useful
23    Very caring vet.   I have been going to a diff...       1         useful
24    I love their Green Chile Double & the fact tha...       3         useful
25    My family and I have been going here a few yea...       8         useful
26    I've had the misfortune of eating here twice n...       1         useful
27    First let me say that the food was definitely ...       4         useful
28    The shuttle ride was fine.  It's obnoxious wai...       2         useful
29    Stuttgart's movie theater with original langua...       3         useful
...                                                 ...     ...            ...
1970  Fast good service and good food. Menu in Engli...       0     not-useful
1971  In my opinion the best burger in town. My only...       0     not-useful
1972  We've been here now twice.  Not a bad spot, re...       0     not-useful
1973  bought my leather sectional here a few years b...       0     not-useful
1974  There is supposed to be dancing here on Friday...       0     not-useful
1975  Whoa. So so good. \n\nI had two tacos, tofu an...       0     not-useful
1976  This is one where you really want to like the ...       0     not-useful
1977  Was there for dinner and the food was amazing!...       0     not-useful
1978  Das Essen war sehr gut, der Service freundlich...       0     not-useful
1979  Bento boxes here are the best, the bi bim bap,...       0     not-useful
1980  Having not stay here just passing through and ...       0     not-useful
1981  It's tough to find a non-chain breakfast place...       0     not-useful
1982  Penn & Teller are amazing and this show is fan...       0     not-useful
1983  Consistently has great service. Dishes are cle...       0     not-useful
1984  My wife and I have been talking about checking...       0     not-useful
1985  Had the crawfish / mild spice today. Not bad, ...       0     not-useful
1986  Megan did my makeup for my most important day,...       0     not-useful
1987  For a first visit on a friday night 8pm for 5 ...       0     not-useful
1988  We bought a large safe from Pinicle . Spoke to...       0     not-useful
1989  Ich finds ganz schön hier. Preise sind vollkom...       0     not-useful
1990  Enjoy the good life at Elysian. Clean, quiet a...       0     not-useful
1991  I don't usually write reviews, but I just had ...       0     not-useful
1992  This was a great location they upgraded us to ...       0     not-useful
1993  This place is A-OK for sure.  The food's good....       0     not-useful
1994  I LOVE this location, I'm here at least once a...       0     not-useful
1995  After having terrible experiences at several "...       0     not-useful
1996  I'm so happy there's a Mellow Mushroom near ce...       0     not-useful
1997  I really love this buffet! I stayed in Vegas f...       0     not-useful
1998  Services are entertaining. I had some issues I...       0     not-useful
1999  Its a typical fast food restaurant. Its very c...       0     not-useful

[2000 rows x 3 columns]